<div class="wrap">
  <h2>Email Added</h2>
  <hr/>
  <p>Thanks for subscribing to our newsletter! <br/>Your email <a href="mailto:{{ email }}">{{email}}</a> has been added to our mailing list and you should receive our future newsletters.</p>
</div>