<div class="wrap">
  <h2>Successfully Unsubscribed</h2>
  <hr/>
  <p>
    Your email <a href="mailto:{{ email }}">{{email}}</a> has been removed from our mailing list. You will no longer receive our newsletter.
  </p>
</div>